<footer class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Address</h4>
            <p class="card-text">56 rue de l'Eglise</p>
            <p class="card-text">75000 Paris</p>
            <p class="card-text">01 01 01 01 01</p>
        </div>
    </div>
    <form action="https://formstatic.dev" method="post">
        <input type="hidden" name="$processor" value="email">
        <input type="hidden" name="$to" value="gregory.koenig@epitech.eu">
        <fieldset>
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" name="name" class="form-control"
                       placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control"
                       id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleTextarea">Message</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Your Message"
                ></textarea>
            </div>
            <button type="submit" class="btn btn-light">Submit</button>
        </fieldset>
    </form>
</footer>