<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/municipal_council/">Municipal Council</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/associations">Associations</a>
            </li>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Events
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/events">Events</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Upcoming Events</a>
                    <a class="dropdown-item" href="#">Archived Events</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Calendar</a>
                </div>
            </div>
        </ul>
    </div>
</nav>